

body {
    font-size:40px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
background-image: url(fondo.jpg);
background-repeat:no-repeat;

}

h2 {
    font-size: 20px;
    color:cadetblue;
}


.cajaCentral {
    height: 100vh;
    padding: 15vw;
}
.cajaInferior {
    height: 50vh;
    background-color: black;
    padding: 15vw;
}
ul {
    color:white;
    list-style-type: none;
    line-height: 60px;
}
    
a {
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.inicio {
    position: relative;
    
}

.team {
    position: absolute;
    margin-left: 150px;
    margin-top: 600px;
    color:white;
}

.barrita {
    
    color:black;
    size:30px;
}

.p1 {
    line-height: 70px;
}




.navbar {
  overflow: hidden;
  background-color: #333;
    font-family: "helvetica";
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
    position: relative;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
    transform: translateY(5px);
  background: #ddd;
  color: black;
}
