* {
    background-color:#664023;

}

.cajacabec {
    text-align: center;
    height: 100px;
    background-image: linear-gradient(#000000,#664023);
    width: auto;
    align-items: center;
    position: relative;
    height: auto;

}



h1 {
display: block;
position: absolute;
font-size: 200px;
font-family: "segoe script";
}